<div class="container-fluid mb-4 mt-4 bg-transparent border-success">
    <div class="card bg-transparent border-success">
        <div class="card-header bg-success border-success text-warn text-bold">
            <div class="row">
                <div class="col-md-11 text-white mt-2">
                    <h5>{{pageTitle}}</h5>
                </div>
                <div class="col-md-1"><button class="btn btn-danger btn-outline-white" data-bs-toggle="modal"
                        (click)="openDialog(enquiryDetailModal,'enquiryDetailModal')">Create</button></div>
            </div>
        </div>

        <div class="card-body bg-transparent border-success table-responsive">
            <!-- datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
            <table class="table table-striped table-fixed table-hover table-bordered border border-dark border-2">
                <thead class="table-dark">
                    <tr>
                        <th>Enquiry ID</th>
                        <th>Person Name</th>
                        <th>Birth Date</th>                        
                        <th>Address</th>
                        <td>Contact No.</td>
                        <th>Enquiry Type</th>
                        <th>Enquiry Description</th>
                        <th>Status</th>
                        <th>Enquiry Date</th>
                        <th>Officer Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let enquiry of enquiries | paginate : { itemsPerPage: itemsPerPage,currentPage: currentPage }">
                        <td>{{ enquiry['id']}}</td>
                        <td class="w-10">{{ enquiry['personName']}}</td>
                        <td>{{enquiry['birthDate'] | date:'dd/MM/yyyy'}}</td>
                        <td>{{enquiry['address']}}</td>
                        <td>{{enquiry['primaryContact']}}</td>
                        <td>{{enquiry['enquiryCategory']}}</td>
                        <td>{{enquiry['enquiryDescription']}}</td>
                        <td>{{enquiry['status']}}</td>
                        <td>{{enquiry['enquiryDate'] }}</td>
                        <td>{{enquiry['officerName']}}</td>
                        <td>
                            <div class="d-flex flex-row  mb-3">
                                <a class="btn btn-dark" [title]="'Modify'" (click)="modifyCompany(enquiry,enquiryDetailModal,'companyDetailModal')">
                                    <span class="bi bi-pencil-square text-warning"></span>
                                </a>&nbsp;
                                <a class="btn btn-dark" [title]="'Update Status'" (click)="modifyCompany(enquiry,enquiryDetailModal,'companyDetailModal')">
                                    <span class="bi bi-pencil-square text-warning"></span>
                                </a>&nbsp;
                                <a class="btn btn-danger" [title]="'Remove'" (click)="confirmRemove(enquiry)">
                                    <span class="bi bi-trash"></span>
                                </a>
                            </div>
                        </td>
                        <!-- <td><button type="button" class="btn btn-success"><i class="bi bi-pencil-square"></i></button>&nbsp;
                            <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button></td> -->
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="currentPage = $event"
                    [responsive]="true"></pagination-controls>
            </div>
        </div>
    </div>
</div>

<ng-template #enquiryDetailModal>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="isNewForm">Register New Enquiry</h4>
        <h4 class="modal-title" id="modal-basic-title" *ngIf="!isNewForm">Update Enquiry Detail</h4>
        <button type="button" class="btn btn-danger" title="Close" aria-label="Close" (click)="closeForm(enquiryForm)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="m-4">
            <div class="col-12" *ngFor="let alert of alerts">
                <div class="alert alert-dismissible" [ngClass]="alert.cssClass">
                    <i class="bi" [ngClass]="alert.iconClass"></i>&nbsp;
                    <span class="text-center">{{alert.message }}</span>
                </div>
            </div>
            <form class="needs-validation" method="post" [formGroup]="enquiryForm" (ngSubmit)="saveEnquiryDetail()"
                [class.was-validated]="formSubmit">
                <input type="hidden" id="id" formControlName="id">
                <div class="row mb-2">
                    <label class="col-md-4 col-form-label text-end" for="personName">Person Name: <span
                            class="required">(*)</span></label>
                    <div class="col-md-4">
                        <input type="text" [maxLength]="100" class="form-control" id="personName"
                            formControlName="personName" placeholder="Person Name" [required]="true"
                            [class.is-invalid]="(formSubmit || isTouched('personName')) && isInvalidField('personName')">
                        <div *ngIf="(formSubmit || isTouched('personName')) && isRequiredField('personName')"
                            class="d-block invalid-feedback">Please provide person name.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label text-end" for="birthDate">Date Of Birth: <span
                            class="required">(*)</span></label>
                    <div class="col-md-4">
                        <input type="date" [maxLength]="10" class="form-control" id="birthDate"
                            formControlName="birthDate" placeholder="Birth Date" [required]="true"
                            [class.is-invalid]="(formSubmit && (isTouched('birthDate') && isRequiredField('birthDate')))">
                        <div *ngIf="(formSubmit &&  hasErrors('birthDate'))"
                            class="d-block invalid-feedback">
                            Please provide a birth date.
                        </div>

                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label text-end" for="address">Adress:
                        <span class="required">(*)</span></label>
                    <div class="col-md-4">
                        <textarea rows="3" [maxLength]="255" class="form-control" id="address"
                            formControlName="address" placeholder="Address" [required]="true"
                            [class.is-invalid]="(formSubmit || isTouched('address') && hasErrors('address'))"></textarea>
                        <div *ngIf="(formSubmit || isTouched('address')) && isRequiredField('address')"
                            class="d-block invalid-feedback">
                            Please provide address detail.
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-md-4 col-form-label text-end" for="primaryContact">Primary Contact No.: <span
                            class="required">(*)</span></label>
                    <div class="col-md-4">
                        <input type="text" [maxLength]="25" class="form-control" id="primaryContact"
                            formControlName="primaryContact" placeholder="Primary Contact No." [required]="true"
                            [class.is-invalid]="(formSubmit || isTouched('primaryContact')) && isInvalidField('primaryContact')">
                        <div *ngIf="(formSubmit || isTouched('primaryContact')) && isRequiredField('primaryContact')"
                            class="d-block invalid-feedback">Please provide primary contact no.</div>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-md-4 col-form-label text-end" for="alternateContact">AlternateContact No.: <span
                            class="required">(*)</span></label>
                    <div class="col-md-4">
                        <input type="text" [maxLength]="25" class="form-control" id="alternateContact"
                            formControlName="alternateContact" placeholder="Alternate Contact No." [required]="false">
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-md-4 col-form-label text-end" for="enquiryCategory">Type Of Enquiry.: <span
                            class="required">(*)</span></label>
                    <div class="col-md-4">
                        <input type="text" [maxLength]="25" class="form-control" id="enquiryCategory"
                            formControlName="enquiryCategory" placeholder="Enquiry type" [required]="true"
                            [class.is-invalid]="(formSubmit || isTouched('enquiryCategory')) && isInvalidField('enquiryCategory')">
                        <div *ngIf="(formSubmit || isTouched('enquiryCategory')) && isRequiredField('enquiryCategory')"
                            class="d-block invalid-feedback">Please provide enquiry type.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label text-end" for="enquiryDescription">Enquiry Detail.:
                        <span class="required">(*)</span></label>
                    <div class="col-md-4">
                        <textarea rows="3" [maxLength]="1000" class="form-control" id="enquiryDescription"
                            formControlName="enquiryDescription" placeholder="Enquiry Detail" [required]="true"
                            [class.is-invalid]="(formSubmit || isTouched('enquiryDescription') && hasErrors('enquiryDescription'))"></textarea>
                        <div *ngIf="(formSubmit || isTouched('enquiryDescription')) && isRequiredField('enquiryDescription')"
                            class="d-block invalid-feedback">
                            Please provide enquiry detail.
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-md-4 col-form-label text-end" for="officerName">Assign Enquiry To Officer.: <span
                            class="required">(*)</span></label>
                    <div class="col-md-4">
                        <input type="text" [maxLength]="25" class="form-control" id="officerName"
                            formControlName="officerName" placeholder="Assign Enquiry To Officer" [required]="true">
                        <div *ngIf="(formSubmit || isTouched('officerName')) && isRequiredField('officerName')"
                            class="d-block invalid-feedback">Please select enquiry officer.</div>
                    </div>
                </div>


                
                <div class="row mb-4">
                    <div class="col-md-4 offset-sm-4">
                        <button type="submit" id="submitBtn" class="btn btn-success" *ngIf="isNewForm">Create</button>
                        <button type="submit" id="submitBtn" class="btn btn-success" *ngIf="!isNewForm">Update</button>
                        <button type="reset" class="btn btn-dark ms-2" (click)="formReset(enquiryForm)">Reset</button>
                        <button type="reset" class="btn btn-danger ms-2" (click)="closeForm(enquiryForm)">Exit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</ng-template>
